<div class="container-hluid">
  <div class="row no-gutters">
    <%= render 'partial/menu' %>
    <div class="col-9">
      <div class="current"><%= current_user.lastname %> <%= current_user.firstname %></div>
      <hr class="style">  
        <br>
      <h1>マイページ</h1>
      <br>
   
      <div class="border col-5">
        <br>
        <div class="row">
          <% if @user == current_user %>
            <%= link_to "プロフィールを編集", edit_user_registration_path(@user), class: "btn btn-primary" %>
          <% end %>
        </div>
        <div class="row">
          <div>
            <%= @user.lastname %>
          </div>
        </div>
        <div class="row">
          <div>
            <%= @user.firstname %>
          </div>
        </div>
        <div class="row">
          <div>
            <%= @user.email %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>