<div class="container-hluid">
  <div class="row no-gutters">
    <%= render 'partial/menu' %>
    <div class="col-9">
      <div class="current"><%= current_user.lastname %> <%= current_user.firstname %></div>
      <br>
      <hr class="style">
      <br>
      <div class="row no-gutters">
        <div class="col-10 edit-form">
          <h1>会議室一覧</h1>
        </div>
        <div class="col">
          <%= link_to "新規登録", new_conferenceroom_path, class: "btn btn-primary" %>
        </div>
        <br>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">会議室名</th>
              <th scope="col">収容人数</th>
              <th scope="col">利用金額</th>
              <th scope="col">使用可能日時</th>
              <th scope="col"> </th>
              <th scope="col"> </th>
            </tr>
          </thead>
          <tbody>
            <% @conferenceroom.each do |conferenceroom| %>
              <tr>
                <td><%= conferenceroom.conferenceroomname %></td>
                <td><%= conferenceroom.people %></td>
                <td><%= conferenceroom.price %></td>
                <td><%= conferenceroom.starttime %> ~ <%= conferenceroom.endtime %></td>
                <td><%= link_to "編集", edit_conferenceroom_path(conferenceroom), class: "btn btn-primary" %></td>
                <td><%= link_to "カレンダー", conferenceroom_path(conferenceroom), class: "btn btn-primary" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>