<div class="container-hluid">
  <div class="row no-gutters">
    <%= render 'partial/menu' %>
    <div class="col-9">
      <div class="current"><%= current_user.lastname %> <%= current_user.firstname %></div>
      <br>
      <hr class="style">
      <br>
      <div class="row no-gutters">
        <div class="col-9 edit-form">
        　<h1><%= @conferenceroom.conferenceroomname %></h1>
        </div>
        <div class="col new-schedule-btn">
          <%= link_to "予定の新規登録", new_conferenceroom_schedule_path(@conferenceroom), class: "btn btn-primary" %>
        </div>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">タイトル</th>
              <th scope="col">内容</th>
              <th scope="col">使用可能時間</th>
              <th scope="col"> </th>
            </tr>
          </thead>
          <tbody>
            <% @schedule.each do |schedule| %>
              <tr>
                <td><%= schedule.title %></td>
                <td><%= schedule.content %></td>
                <td><%= schedule.starttime %> ~ <%= schedule.endtime %></td>
                <td><%= link_to "編集", edit_conferenceroom_schedule_path(@conferenceroom,schedule), class: "btn btn-primary" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div id="calendar"></div>
    </div>
  </div>
</div>