<div class="container-hluid">
  <div class="row no-gutters">
    <%= render 'partial/menu' %>
    <div class="col-9">
      <div class="current"><%= current_user.lastname %> <%= current_user.firstname %></div>
      <hr class="style">  
      <div class="edit-form">
        <h1>予約の編集</h1>
      </div>
      <br>
      <div class="border col-5 edit-form">
        <br>
        <div class="row">
          <%= form_with model: @schedule, url: conferenceroom_schedule_path(@schedule), local: true do |f| %>
            <%= f.label :starttime %>
            <%= f.text_field :starttime, class: "form-control" %>
            
            <%= f.label :endtime %>
            <%= f.text_field :endtime, class: "form-control" %>
            
            <%= f.label :title %>
            <%= f.text_field :title, class: "form-control" %>
            
            <%= f.label :content %>
            <%= f.text_field :content, class: "form-control" %>
            
            <div>
              <%= link_to "削除", conferenceroom_schedule_path(@schedule), method: :delete, class: "btn btn-danger" %>
              <%= f.submit "編集", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>