<div class="container-hluid">
  <div class="row no-gutters">
    <%= render 'partial/menu' %>
    <div class="border col-9">
      <div class="current"><%= current_user.lastname %> <%= current_user.firstname %></div>
      <hr class="style">
      <br>
      <div class="edit-schedule">
        <h1>予定の新規作成</h1>
      </div>
      <br>
      
      <div class="border col-5 edit-form">
        <br>
        <div class="form-horizontal" role="form">
          <%= form_with model: @schedule, url: { action: :create }, local: true do |f| %>
            <div class="col-sm-12">
              <%= f.label :"タイトル" %>
              <%= f.text_field :title, class: "form-control" %>
            </div>
            <br>
            <div class="col-12">
              
              <div class="row">
                <div class="col-sm-6">
                  <%= f.label :"開始時刻" %>
                  <%= f.text_field :starttime, class: "form-control datetimepicker-input", id: "starttime", data: {toggle: "datetimepicker", target: "#starttime"} %>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker5').datetimepicker();
                    });
                </script>
              </div>
            </div>
              
              
            
            <br>
            <div class="col-12">
              
              <div class="row">
                <div class="col-sm-6">
                  <%= f.label :"終了時刻" %>
                  <%= f.text_field :endtime, class: "form-control datetimepicker-input", id: "endtime", data: {toggle: "datetimepicker", target: "#endtime"} %>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker5').datetimepicker();
                    });
                </script>
              </div>
            </div>
            <br>
            
            
            
            
            <br>
            <div class="col-sm-12">
              <%= f.label :"内容" %>
              <%= f.text_area :content, class: "form-control",:size => "40x3" %>
            </div>
            <br>
            <div class="edit-delete-btn">
              <div class="form-group">
                <div class="schedule-new-btn">
                  <%= f.submit "新規作成", class: "btn btn-primary" %>
                </div>
            </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


