<%= form_with model: @schedule, url: { action: :create }, local: true do |f| %>

  <div class="field">
    
    <%= f.label :title %>
    <%= f.text_field :title %>
    
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div class="field">
    <%= f.label :starttime %>
    <%= f.datetime_select :starttime %>
  </div>

  <div class="field">
    <%= f.label :endtime %>
    <%= f.datetime_select :endtime %>
  </div>

  <div class="actions">
    <%= f.submit "新規作成", class: "btn btn-primary" %>
  </div>
<% end %>